{% extends "rango/taban.html" %}
{% load staticfiles %}
{% block stilDosyalari %}
  <link href="{% static "bootstrap/examples/signin/signin.css" %}" rel="stylesheet">
{% endblock stilDosyalari %}
{% block baslik_blok %}
  Giriş Yap
{% endblock %}
{% block vucut_blok %}
  {% if form.errors.values %}
    {% for veri in form.errors.values %}
      <strong>{{ veri }}</strong>
    {% endfor %}
  {% endif %}
  <form class="form-signin" method="post" action="">
    {% csrf_token %}
    <h2 class="form-signin-heading">Lütfen giriş yapınız</h2>
    <label for="id_username" class="sr-only">Kullanıcı Adınız:</label>
    <input name="username" type="text" id="id_username" class="form-control" placeholder="Kullanıcı adınız" required="" autofocus="">
    <label for="id_password" class="sr-only">Şifreniz</label>
    <input name="password" type="password" id="id_password" class="form-control" placeholder="Şifreniz" required="">
    <input type="hidden" name="next" value="{{ next }}" />
    <button class="btn btn-lg btn-success btn-block" type="submit">Giriş yap</button>
  </form>
{% endblock vucut_blok %}
