{% extends "rango/taban.html" %}

{% load staticfiles %}

{% block baslik_blok %}
    Anasayfa
{% endblock %}

{% block vucut_blok %}
    {% if kategoriler %}
        <h1>En çok beğenilen kategoriler</h1>
        <ul>
        {% for kategori in kategoriler %}
            <li><a href="{% url "rango:sayfalarıGöster" kategori.slug %}">{{ kategori }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <strong>Şuan görüntülenecek bir kategori bulunmamaktadır!</strong>
    {% endif %}
    {% if sayfalar %}
        <h1>En çok görüntülenen sayfalar</h1>
        <ul>
        {% for sayfa in sayfalar %}
            <li><a href="{{ sayfa.sayfaUrl }}">{{ sayfa.sayfaIsim }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>Şuanda görüntülenecek sayfa bulunamadı!</strong>
    {% endif %}
{% endblock %}

{% block alt_blok %}
     <img src="{% static "images/kertenkele.jpg" %}" alt="Rango: Yeşil Kertenle" />
{% endblock %}
