<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>Rango</title>
</head>

<body>
<h1>Rango diyorki...</h1>
<div>
    hey ordaki ortak!<br>
</div>
<div>
    {% if kategoriler %}
        <h1>En çok beğenilen kategoriler</h1>
        <ul>
        {% for kategori in kategoriler %}
            <li><a href="/rango/kategori/{{ kategori.slug }}">{{ kategori }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <strong>Şuan görüntülenecek bir kategori bulunmamaktadır!</strong>
    {% endif %}
</div>
<div>
    {% if sayfalar %}
        <h1>En çok görüntülenen sayfalar</h1>
        <ul>
        {% for sayfa in sayfalar %}
            <li><a href="{{ sayfa.sayfaUrl }}">{{ sayfa.sayfaIsim }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>Şuanda görüntülenecek sayfa bulunamadı!</strong>
    {% endif %}
</div>
<div>
    <img src="{% static "images/kertenkele.jpg" %}" alt="Rango: Yeşil Kertenle" /><br>
    <h1><a href="/rango/about/" title="Hakkımda">Hakkımda</a></h1>
</div>
</body>

</html>