<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
<div>
    {% if kategori %}
        <h1>{{ kategori }}</h1>
        {% if sayfalar %}
            <ul>
            {% for sayfa in sayfalar %}
                <li>
                    <a href="{{ sayfa.sayfaUrl }}" title="{{ sayfa.sayfaIsim }}">{{ sayfa.sayfaIsim }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>{{ kategori }} kategorisinde sayfa mevcut değil.</strong>
        {% endif %}
    {% else %}
        <strong>Aramaya çalıştığınız kategori mevcut değil!</strong>
    {% endif %}
</div>
<div>
    <h3>
        <a href="{% url "rango:anasayfa" %}" title="Anasayfa">Anasayfa</a>
        {% if kategori %}
            | <a href="{% url "rango:sayfa-ekle" kategori.slug %}" title="Sayfa Ekle">Sayfa Ekle</a>
        {% endif %}
    </h3>
</div>
</body>
</html>