{% extends "rango/taban.html" %}

{% load staticfiles %}
{% block stilDosyalari %}
    <link href="{% static "bootstrap/examples/signin/signin.css" %}" rel="stylesheet">
{% endblock stilDosyalari %}
{% block baslik_blok %}
    Kategori Ekle
{% endblock %}

{% block vucut_blok %}
        <h3 class="form-signin-heading">Kategori Ekleme Sayfası</h3>
    <form method="post" action="{% url "rango:kategori-ekle" %}">
        {% csrf_token %}
        {% for gizli in bilgiler.hidden_fields %}
            {{ gizli }}
        {% endfor %}
        {% for gorunur in bilgiler.visible_fields %}
            <p>
                {{ gorunur.error }}
                {{ gorunur.help_text }}
                {{ gorunur }}
            </p>
        {% endfor %}
        <input class="btn btn-primary" type="submit" name="Gönder" value="Gönder" />
    </form>
    {% if bilgiler.errors %}
        {{ bilgiler.errors }}
    {% endif %}
{% endblock %}
