{% extends "rango/taban.html" %}
{% load staticfiles %}
{% block stilDosyalari %}
    <link href="{% static "bootstrap/examples/signin/signin.css" %}" rel="stylesheet">
{% endblock stilDosyalari %}
{% block baslik_blok %}
    Sayfa Ekle
{% endblock %}
{% block vucut_blok %}
    {% if kategori %}
        <h3 class="form-signin-heading">
        Şuanda <a href="rango/{{ kategori.slug }}">{{ kategori.kategoriIsim }}</a> kategorisine sayfa ekliyorsunuz.
        </h3>
        <form method="post" action="{% url "rango:sayfa-ekle" kategori.slug %}">
            {% csrf_token %}
            {% for gizli in formBilgi.hidden_fields %}
                {{ gizli }}
            {% endfor %}
            {% for gorunur in formBilgi.visible_fields %}
                <p>
                    {{ gorunur.errors }}
                    {{ gorunur.help_text }}
                    {{ gorunur }}
                </p>
            {% endfor %}
            {% if formBilgi.errors %}
                {{ formBilgi.errors }}
            {% endif %}
            <input class="btn btn-primary" type="submit" name="Gönder" value="Gönder" />
        </form>
    {% else %}
        <strong>Sayfa eklemek için önce kategori belirlemelisiniz!</strong>
    {% endif %}
{% endblock %}
